<header>

	<div id='title'>
		<%= image_tag("patulacci.jpg", :alt => "patulacci" , :width => "150")%>
		<h1 id='big_title'>Home</h1></br>
<!--		<h2>Thomas Patulacci</h2>-->
	</div>

	<nav>
  <ul id='selectable'>
      <li id='li_home' 			class='menu round'><%= link_to "Home", '#home', :class => 'round ui-selected' %></li>
      <li id='li_education' class='menu round'><%= link_to "Education", '#education', :class => 'round' %></li>
      <li id='li_videos' 		class='menu round'><%= link_to "Videos", '#videos', :class => 'round' %></li>
      <li id='li_photos' 		class='menu round'><%= link_to "Photos", '#photos', :class => 'round' %></li>
      <li id='li_critiques' class='menu round'><%= link_to "Mes Critiques Cinéma", '#critiques', :class => 'round' %></li>
  </ul>
	</nav>
	
</header>
