<!DOCTYPE html>

<html>
<head>
  <title>Patulacci's homepage</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>

	<script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>

	
	<%= javascript_include_tag 'application' %>
	

</head>
<body>

<%= yield %>


</body>
</html>










